<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Products</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
  <link rel="stylesheet" href="/static/vendor/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/static/vendor/choices.js/public/assets/styles/choices.css">
  <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<body>
<header th:insert="bloks/header :: header"></header>
<section class="bg-pentagon py-4">
  <div class="container py-3">
    <div class="row d-flex align-items-center gy-4">
      <div class="col-md-7">
        <h1 class="h2 mb-0 text-uppercase">Categoris</h1>
      </div>
      <div class="col-md-5">
        <ol class="text-sm justify-content-start justify-content-lg-end mb-0 breadcrumb undefined">
          <li class="breadcrumb-item"><a class="text-uppercase" href="/">Home</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="container mt-5" >

  <div th:each="category : ${categorys}" class="alert alert-info mt-2">
    <h3 th:text="${category.name}"></h3>
    <h3 th:text="${category.type}"></h3>

    <a th:href="@{/deleteCategory/{id}(id=${category.getId()})}" href="#" class="btn btn-warning" sec:authorize="hasAnyAuthority('ADMIN')"><span>delete</span></a>

  </div>

  <form th:action="@{/addCategory}"
        method="post" th:object="${categorys}"  >

  <label>
      <input type= "text" rows="2" cols="165"  name="name" placeholder="add category" class="form-control" sec:authorize="hasAnyAuthority('ADMIN')">
  </label>
    <br>
    <br>
    <button class="btn btn-warning" type="submit" sec:authorize="hasAnyAuthority('ADMIN')"> Add </button>
</form>
</div>
<br>
<br>
<div th:insert="bloks/footer :: footer"></div>
</body>
</html>